([
	(
		name: "Swap2PentPairs",
		seed_simples: [
			(10, 4), (8, 1), (10, 1), (8, 4),
		],
	),
	(
		name: "CommutePentTrioTriangle",
		seed_simples: [
			(8, 4), (5, 1), (8, 1), (5, 4),
			(2, 1),
			(8, 4), (5, 1), (8, 1), (5, 4),
			(2, 4),
		],
	),
	(
		name: "CommutePentTrioLine",
		seed_simples: [
			(7, 4),
			(10, 4), (8, 1), (10, 1), (8, 4),
			(6, 1),
			(10, 4), (8, 1), (10, 1), (8, 4),
			(6, 4),
			(7, 1)
		],
	),
	(
		name: "Rotate2PentPairs",
		seed_simples: [
			(10, 4), (8, 1), (10, 1), (8, 4), (10, 4), (8, 1), (10, 1), (8, 4),
		],
	),
	(
		name: "RotatePentPair",
		seed_simples: [
			(1, 1), (4, 4), (1, 4), (4, 1), (1, 1), (4, 4), (1, 4), (4, 1),
			(10, 1),
			(4, 4), (1, 1), (4, 1), (1, 4), (4, 4), (1, 1), (4, 1), (1, 4),
			(10, 4),
		],
	),
	(
		name: "RotatePent",
		seed_simples: [
			(2, 1),
			(11, 4), (4, 1), (11, 1), (4, 4),
			(5, 4), (9, 1), (5, 1), (9, 4),
			(7, 1),
			(8, 4),
			(11, 4), (4, 1), (11, 1), (4, 4),
			(8, 1),
			(7, 4),
			(9, 1), (5, 4), (9, 4), (5, 1), (9, 1), (5, 4), (9, 4), (5, 1),
			(8, 1), (5, 4), (8, 4), (5, 1), (8, 1), (5, 4), (8, 4), (5, 1),
		],
	),
	(
		name: "CommuteTriTrio",
		seed_simples: [
			(8, 3), (7, 2), (8, 2), (7, 3),
			(8, 3), (7, 2), (8, 2), (7, 3),
			(8, 3), (7, 2), (8, 2), (7, 3),
			(1, 3), (3, 3), (7, 2), (3, 2),
			(1, 3), (6, 3), (1, 2), (3, 2),
			(6, 3), (3, 3), (1, 2), (7, 2),
		],
	),
])