([
	(
		name: "Swap2PentPairs",
		seed_simples: [
			(
				10,
				4,
			),// [0]
			(
				8,
				1,
			),// [1]
			(
				10,
				1,
			),// [2]
			(
				8,
				4,
			),
		],
	),// [0]
	(
		name: "Rotate2PentPairs",
		seed_simples: [
			(
				10,
				4,
			),// [0]
			(
				8,
				1,
			),// [1]
			(
				10,
				1,
			),// [2]
			(
				8,
				4,
			),// [3]
			(
				10,
				4,
			),// [4]
			(
				8,
				1,
			),// [5]
			(
				10,
				1,
			),// [6]
			(
				8,
				4,
			),
		],
	),// [1]
	(
		name: "CommuteTriTrio",
		seed_simples: [
			(
				8,
				3,
			),// [0]
			(
				7,
				2,
			),// [1]
			(
				8,
				2,
			),// [2]
			(
				7,
				3,
			),// [3]
			(
				8,
				3,
			),// [4]
			(
				7,
				2,
			),// [5]
			(
				8,
				2,
			),// [6]
			(
				7,
				3,
			),// [7]
			(
				8,
				3,
			),// [8]
			(
				7,
				2,
			),// [9]
			(
				8,
				2,
			),// [10]
			(
				7,
				3,
			),// [11]
			(
				1,
				3,
			),// [12]
			(
				3,
				3,
			),// [13]
			(
				7,
				2,
			),// [14]
			(
				3,
				2,
			),// [15]
			(
				1,
				3,
			),// [16]
			(
				6,
				3,
			),// [17]
			(
				1,
				2,
			),// [18]
			(
				3,
				2,
			),// [19]
			(
				6,
				3,
			),// [20]
			(
				3,
				3,
			),// [21]
			(
				1,
				2,
			),// [22]
			(
				7,
				2,
			),
		],
	),// [2]
	(
		name: "RotatePent",
		seed_simples: [
			(
				2,
				1,
			),// [0]
			(
				11,
				4,
			),// [1]
			(
				4,
				1,
			),// [2]
			(
				11,
				1,
			),// [3]
			(
				4,
				4,
			),// [4]
			(
				5,
				4,
			),// [5]
			(
				9,
				1,
			),// [6]
			(
				5,
				1,
			),// [7]
			(
				9,
				4,
			),// [8]
			(
				7,
				1,
			),// [9]
			(
				8,
				4,
			),// [10]
			(
				11,
				4,
			),// [11]
			(
				4,
				1,
			),// [12]
			(
				11,
				1,
			),// [13]
			(
				4,
				4,
			),// [14]
			(
				8,
				1,
			),// [15]
			(
				7,
				4,
			),// [16]
			(
				9,
				1,
			),// [17]
			(
				5,
				4,
			),// [18]
			(
				9,
				4,
			),// [19]
			(
				5,
				1,
			),// [20]
			(
				9,
				1,
			),// [21]
			(
				5,
				4,
			),// [22]
			(
				9,
				4,
			),// [23]
			(
				5,
				1,
			),// [24]
			(
				8,
				1,
			),// [25]
			(
				5,
				4,
			),// [26]
			(
				8,
				4,
			),// [27]
			(
				5,
				1,
			),// [28]
			(
				8,
				1,
			),// [29]
			(
				5,
				4,
			),// [30]
			(
				8,
				4,
			),// [31]
			(
				5,
				1,
			),
		],
	),// [3]
	(
		name: "RotatePentPair",
		seed_simples: [
			(
				1,
				1,
			),// [0]
			(
				4,
				4,
			),// [1]
			(
				1,
				4,
			),// [2]
			(
				4,
				1,
			),// [3]
			(
				1,
				1,
			),// [4]
			(
				4,
				4,
			),// [5]
			(
				1,
				4,
			),// [6]
			(
				4,
				1,
			),// [7]
			(
				10,
				1,
			),// [8]
			(
				4,
				4,
			),// [9]
			(
				1,
				1,
			),// [10]
			(
				4,
				1,
			),// [11]
			(
				1,
				4,
			),// [12]
			(
				4,
				4,
			),// [13]
			(
				1,
				1,
			),// [14]
			(
				4,
				1,
			),// [15]
			(
				1,
				4,
			),// [16]
			(
				10,
				4,
			),
		],
	),// [4]
	(
		name: "CommutePentTrio",
		seed_simples: [
			(
				8,
				4,
			),// [0]
			(
				5,
				1,
			),// [1]
			(
				8,
				1,
			),// [2]
			(
				5,
				4,
			),// [3]
			(
				2,
				1,
			),// [4]
			(
				8,
				4,
			),// [5]
			(
				5,
				1,
			),// [6]
			(
				8,
				1,
			),// [7]
			(
				5,
				4,
			),// [8]
			(
				2,
				4,
			),
		],
	),
])