Preferences(
	file_menu:			FileMenuData(
		randomization_params:	RandomizationParams(
			random_transformation_genera:	[ "Simple" ],
			// random_transformation_count:	30,
			random_transformation_count:	50,
			randomization_type:				FromSolvedNoStack
		)
	),
	input:				InputData(
		default_positions:		(0, 5, 10, 1, 8, 4),
		key_presses:			{
			Rot0:						"Numpad0",
			Rot1:						"Numpad1",
			Rot2:						"Numpad4",
			Rot3:						"Numpad5",
			Rot4:						"Numpad6",
			Rot5:						"Numpad3",
			RecenterCamera:				"Space",
			Undo:						"^Z",
			Redo:						"^Y",
			CycleFamilyUp:				"Up",
			CycleFamilyDown:			"Down",
			CycleGenusUpWithinFamily:	"Right",
			CycleGenusDownWithinFamily:	"Left",
			EnableModifiers:			"E",
			RotateTwice:				"D",
			CounterClockwise:			"S",
			AltHemi:					"A",
			DisableRecentering:			"X"
		}
	),
	light_and_camera:	LightAndCameraData(
		light_pos:			( 0.0, 0.0, 10.0 ),
		camera_pos:			( 0.0, 0.0, 10.0 ),
		persp_proj:			(
			fov:			0.5,
			aspect_ratio:	1.0,
			near:			1.0,
			far:			1000.0,
		),
		// light_illuminance:	4.0
		light_illuminance:	16.0
	),
	puzzle:				PuzzleData(
		color:	ColorData(
			colors_without_mat: (),
			colors_with_mat: (
				polyhedron_to_colors: [
					(Icosahedron, [
						"ff9595", // 0
						"eaff95", // 1
						"15006a", // 2
						"006a6a", // 3
						"95bfff", // 4
						"1f78ff", // 5
						"e08700", // 6
						"6a4000", // 7
						"d21fff", // 8
						"e00087", // 9
						"1fff78", // 10
						"2de000", // 11
						"ea95ff", // 12
						"95ffbf", // 13
						"ff1f1f", // 14
						"d2ff1f", // 15
						"2d00e0", // 16
						"00e0e0", // 17
						"6a0040", // 18
						"156a00", // 19
					]),
					(Dodecahedron, [
						"FFFFFF", // White,			0
						"0000FF", // Blue,			1
						"80C0FF", // Light Blue,	2
						"808080", // Gray,			3
						"008000", // Dark Green,	4
						"800080", // Purple,		5
						"FF80FF", // Pink,			6
						"80FF00", // Light Green,	7
						"FF0000", // Red,			8
						"FFFFA0", // Light Yellow,	9
						"FFFF00", // Yellow,		10
						"FF8000", // Orange,		11
					]),
					(RhombicTriacontahedron, [
						"ffa5a5", // 0
						"eda5ff", // 1
						"edffa5", // 2
						"ff5abd", // 3
						"ffbd5a", // 4
						"005a5a", // 5
						"0042a5", // 6
						"00a542", // 7
						"12005a", // 8
						"125a00", // 9
						"5affff", // 10
						"a5c9ff", // 11
						"00b3ff", // 12
						"a5ffc9", // 13
						"00ffb3", // 14
						"a50000", // 15
						"ff004d", // 16
						"5a0036", // 17
						"ff4d00", // 18
						"5a3600", // 19
						"8000ff", // 20
						"7b5aff", // 21
						"ff00e6", // 22
						"0019ff", // 23
						"8400a5", // 24
						"7fff00", // 25
						"7bff5a", // 26
						"ffe600", // 27
						"00ff19", // 28
						"84a500", // 29
					])
				],
				base_color: "000000" // Black
			)
		),
		// design:	CustomSuperDodecahedron
		design:	RoundedRhombicTriacontahedron
	),
	speed:				SpeedData(
		camera:							CameraSpeedData(
			pan_speed:	50,
			roll_speed:	50,
		),
		animation:						AnimationSpeedData(
			rotation_millis:					250,
			// rotation_millis:					50,
			// rotation_millis:					0,
			uniform_transformation_duration:	false,
			animate_undo_and_redo:				true,
		),
		solver_cycle_duration_millis:	30.0
	),
	tools:				[
		PuzzleState,
		Solver,
		Stack
	],
)