(
	f: Off,
	m: {
		"pentultimate_solver": (
			f: Debug,
			m: {
				"math::polyhedra::data::generate_faces": (
					f: Warn,
				),
				"puzzle": (
					f: Trace,
				),
				"ui": (
					f: Trace,
				),
			}
		),
	},
)