(
	files: (
		preferences:			"./assets/config/preferences.ron",
		rust_log:				"./assets/config/rustLog.ron",
		saves:					"./saves"
	),
	misc: (
		app_title:				"Pentultimate Solver",
	),
)
