Strings((
	colors_without_mat: (),
	colors_with_mat: (
		polyhedron_to_colors: {
			Dodecahedron: [
				"FFFFFF", // White
				"0000FF", // Blue
				"80C0FF", // Light Blue
				"808080", // Gray
				"008000", // Dark Green
				"800080", // Purple
				"FF80FF", // Pink
				"80FF00", // Light Green
				"FF0000", // Red
				"FFFFA0", // Light Yellow
				"FFFF00", // Yellow
				"FF8000", // Orange
			]
		},
		base_color: "000000"
	)
))
