Preferences(
	color:				ColorData(
		colors_without_mat: (),
		colors_with_mat: (
			polyhedron_to_colors: [
				(Dodecahedron, [
					"FFFFFF", // White,			0
					"0000FF", // Blue,			1
					"80C0FF", // Light Blue,	2
					"808080", // Gray,			3
					"008000", // Dark Green,	4
					"800080", // Purple,		5
					"FF80FF", // Pink,			6
					"80FF00", // Light Green,	7
					"FF0000", // Red,			8
					"FFFFA0", // Light Yellow,	9
					"FFFF00", // Yellow,		10
					"FF8000", // Orange,		11
				])
			],
			base_color: "000000" // Black
		)
	),
	file_menu:			FileMenuData(
		random_transformation_types:	[ Simple ],
		random_transformation_count:	30,
		randomization_type:				FromSolved
	),
	input:				InputData(
		default_positions:				(	0,			5,			10,			1,			8,			4		),
		rotation_keys:					(	Numpad0,	Numpad1,	Numpad4,	Numpad5,	Numpad6,	Numpad3	),
		recenter_camera:				Space,
		undo:							Left,
		redo:							Right,
		cycle_transformation_type_up:	Up,
		cycle_transformation_type_down:	Down,
		enable_modifiers:				E,
		rotate_twice:					D,
		counter_clockwise:				S,
		alt_hemi:						A,
		disable_recentering:			X,
	),
	light_and_camera:	LightAndCameraData(
		light_pos:	( 0.0, 0.0, 10.0 ),
		camera_pos:	( 0.0, 0.0, 10.0 ),
		persp_proj:	(
			fov:			0.5,
			aspect_ratio:	1.0,
			near:			1.0,
			far:			1000.0,
		)
	),
	speed:				SpeedData(
		camera:		CameraSpeedData(
			pan_speed:	50,
			roll_speed:	50,
		),
		animation:	AnimationSpeedData(
			rotation_millis:					250,
			uniform_transformation_duration:	false,
			animate_undo_and_redo:				true,
		)
	),
)