Preferences(
	color:				ColorData(
		colors_without_mat: (),
		colors_with_mat: (
			polyhedron_to_colors: [
				(Dodecahedron, [
					"FFFFFF", // White
					"0000FF", // Blue
					"80C0FF", // Light Blue
					"808080", // Gray
					"008000", // Dark Green
					"800080", // Purple
					"FF80FF", // Pink
					"80FF00", // Light Green
					"FF0000", // Red
					"FFFFA0", // Light Yellow
					"FFFF00", // Yellow
					"FF8000", // Orange
				])
			],
			base_color: "000000" // Black
		)
	),
	input:				InputData(
		default_positions:		(	0,			5,			10,			1,			8,			4		),
		rotation_keys:			(	Numpad0,	Numpad1,	Numpad4,	Numpad5,	Numpad6,	Numpad3	),
		rotate_twice:			D,
		counter_clockwise:		S,
		alt_hemi:				A,
		recenter_camera:		Space,
		disable_recentering:	X,
	),
	light_and_camera:	LightAndCameraData(
		light_pos:	( 0.0, 0.0, 10.0 ),
		camera_pos:	( 0.0, 0.0, 10.0 ),
		persp_proj:	(
			fov:			0.5,
			aspect_ratio:	1.0,
			near:			1.0,
			far:			1000.0
		)
	),
	speed:				SpeedData(
		rotation_millis:					250,
		pan_speed:							50,
		roll_speed:							50,
		uniform_transformation_duration:	false,
	),
)