(
	f: Off,
	m: {
		"pentultimate_solver": (
			f: Debug,
			m: {}
		),
		"pentultimate_solver::math::polyhedra::data::generate_faces": (
			f: Warn,
			m: {}
		),
		"pentultimate_solver::ui": (
			f: Trace,
			m: {}
		),
	},
)