(
	files: (
		preferences:			"preferences.ron",
		piece_library_data:		"pieceLibraryData.ron",
		rust_log:				"RUST_LOG.ron",
	),
	labels: (
		color_data_label:		"ColorData::startup()",
		piece_library_label:	"PieceLibrary::startup()",
		puzzle_startup:			"PuzzlePlugin::startup()",
		camera_run:				"CameraPlugin::run()",
		puzzle_run:				"PuzzlePlugin::run()",
	),
	misc: (
		app_title:				"Pentultimate Solver",
	),
)
